* {
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	list-style-type: none;
	text-decoration: none;
}
html {
    font-size: calc(15px + 0.390625vw);
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Roboto:ital,wght@0,100;0,300;0,400;1,100&display=swap');
body {
	width: 100%;
	height: 100%;
	
	background-color: #121212;


	#a_propos {
        position: absolute; 
		width: 800px;
		height: 500px;
	
		margin-bottom: 5%;
		margin-left: 12%;
		background-color: #A5FFC9;
		
		opacity: 70%;
		border-radius: 15%;
	
		h2 {
			text-align: center;
			font-family: "Hammersmith One";
			font-size: 30px;
			color: #0085B2;
			margin-bottom: 4%;
		}

		#bio{
		
		
				
		
			p {
				text-align: center;
				margin-top: 1%;
                color: #121212;
                font-family: 'Roboto';
				font-size: 2ex;
				margin-left: 6%;
			}
			}
			h4{
				font-family: "Roboto";
				margin-top: 3%;
				margin-left: 2%;
			}
			#logoIPI{
				width: 13%;
				margin-left: 42%;
				margin-top: 3%;
			}
			a{
				color: #0085B2;
				font-size: 2ex;
				font-family: 'Roboto';
				margin-left: 5%;
			}
		
		#divertissement{
			p{
				font-size: 2ex;
				margin-top: 1%;
                color: #121212;
                font-family: 'Roboto';
				margin-left: 6%;
				text-align: center;
				
			}
			#test{
				margin-top: 3%;
			}
			#randonnée{
				margin-top: 3%;
			}
			#patisserie{
				margin-top: 3%;
			}
		}
			
		}
	
	
	#competences{
		background-color: #0085B2;
		width: 35%;
		position: absolute;
		margin-left: 58%;
	
		border-radius: 15%;
		opacity: 70%;
		h2{
			text-align: center;
			font-family: "Hammersmith One";
			font-size: 3ex;
			    margin-left: 3%;
				margin-top: 3%;
				color: #A5FFC9;
				
			}
				
			h3{ 
				font-family: 'Roboto';
			    margin-left: 3%;
				margin-top: 3%;
				color: #A5FFC9;
				font-size: 2.5ex;
				
			}
            #icones{
                        margin-top: 5%;
                        margin-left: 1%;
                #icones1{
                    margin-top: 3%;
                    margin-left: 16%;
                    margin-bottom: 3%;
                        
                    img{
                        width: 18%;
                    
                    }
                    #java{
                        margin-left: 12%;
                    }
                    #php{
                        margin-left:  12%;
                
                    }
                    
                }

                #icones2{
                    margin-top: 8%;
                    margin-left: 13%;
                    margin-bottom: 3%;
                    img{
                        width: 18%;
                        margin-left: 3%;
                    }
                    #python{
                        margin-left: 12%;
                    }
                    #hcjs{
                        margin-left: 12%;
                    }
                }
                #icones3{
                    img{
                        width: 12%;
                        margin-left: 43%;
                        margin-top: 3%;
                    }
                    
                }
                #icones4{
                    margin-left: 5%;  
                    img{
                        width: 12%;
                        margin-top: 3%;
                        margin-bottom: 3%;
                    }
                    #vs{
                        margin-top: 5%;
                        margin-left: 10%;
                    }
                    #wm{
                        
                        margin-left: 15%;
                        width: 20%;
                    }
                    #android{
                        
                        margin-left: 15%;
                        width: 14%;
                }
                }
                #icones5{
                    img{
                        width: 12%;
                        margin-left: 43%;
                    }

                }
            }
    }
    #stage1 {
		margin-left: 5%;
		margin-top: 60%;
		.Louty {
			position: absolute;
			width: 800px;
			border-radius: 10%;
			background-color: #0085B2;
			margin-left: 5%;
			height: 600px;
			opacity: 70%;
			h2 {
				font-family: "Hammersmith One";
				font-size: 5ex;
				color: #A5FFC9;
				margin-top: 3%;
				text-align: center;
			}
			h3{
				color: #A5FFC9;
				font-family: 'Hammersmith One';
				font-size: 2.5ex;
				font-weight: bold;
		
				margin-bottom: 3%;
			}
			p {
				font-size: 2ex;
				margin-top: 1%;
                color: #121212;
                font-family: 'Roboto';
				margin-left: 4%;
			}
			// ul {
			// 	font-family: "Roboto";
			// 	font-size: 2.5ex;
			// 	color: #EDEDED;
			// 	font-weight: bold;
			// 	margin-top: 15px;
			// 	list-style-type: none;
			// 	li {
			// 		&:before {
			// 			content: "\2022";
			// 			color: #A5FFC9;
			// 			display: inline-block;
			// 			width: 1em;
			// 			margin-left: -1em;
			// 		}
			// 	}
			// }
		}
		.myprojectLouty {
			width: 800px;
			height: 600px;
			position: absolute;
			background-color: #A5FFC9;
			margin-left: 50%;
			border-radius: 60px;
			padding: 10px;
			opacity: 72%;
			h2 {
				margin-top: 3%;
				font-family: "Hammersmith One";
				color: #0085B2;
				font-size: 5ex;
			}
			.Mission {
				margin-left: 3%;
				margin-top: 3%;
				margin-bottom: 3%;
				h2 {
					font-family: "Source Code Pro";
					font-size: 2ex;
					color: #0085B2;
					text-align: left;
				}
				ul {
					margin: 1%;
					li {
						font-size: 2ex;
				margin-top: 1%;
				color: #121212;
				font-family: 'Roboto';
			
					}
				}
                
				.competences {
					font-family: "Roboto";
					font-size: 28px;
					color: #EDEDED;
					font-weight: bold;
					margin-top: 3%;
					p {
						margin-top: 3%;
						margin-bottom: 3%;
					}
				}
			}
		}
	}
	#stage2{
		
	#GPA {
		position: absolute;
		width: 800px;
		height: 600px;
		border-radius: 10%;
		background-color: #A5FFC9;
		margin-top: 40%;
		margin-left: 10%;
		
	
		opacity: 70%;
		#logoGPA{
			width:16%;
			margin-top: 3%;
			margin-left: 45%; 
			margin-bottom: 3%;
		}
		#voiture{
			width: 10%;
			margin-left:3%;
			margin-top: 1,5%; 
		   
		}

		h2 {
			font-family: "Hammersmith One";
			font-size: 64px;
			color: #0085B2;
			margin-top: 3%;
			text-align: center;
		}
		h3{
            color: #0085B2;
            font-family: 'Hammersmith One';
			font-size: 2.5ex;
            font-weight: bold;
    
            margin-bottom: 3%;
        }

		p {
			font-size: 2ex;
                color: #121212;
                font-family: 'Roboto';
			margin-top: 2%;
			margin-left: 4%;
		}
		

	}
	#myprojectGPA {
		margin-top: 40%;
		margin-left: 55%;
		margin-bottom: 5%S;
		width: 800px;
		height: 800px;
		position: absolute;
		background-color: #0085B2;
		border-radius: 60px;
		padding: 10px;
		opacity: 72%;
		img{
			width: 20%;
			margin: 5%; 

		}
		#mission{
			margin-top: 3%;
		}
		h3{
			
					font-size: 3ex;
					color: #A5FFC9;
					text-align: left;
					margin-left: 3%;
		}
		ul {
			margin: 3%;
			li {
				font-size: 2ex;
				margin-top: 1%;
				color: #121212;
				font-family: 'Roboto';
			
			}
		}
		h5{
			font-family: "Roboto";
			font-style: 1.5ex;
			margin-left: 3ex;
		}
		
		}
	}
	#gedimagination{
	    position: absolute;
		background-color: #0085B2;
		margin-left: 12%;
		margin-top: 90%;
		width: 38%;
	
		opacity: 70%;
		border-radius: 15%;
    #jeu{
         margin-top: 10%;
         p{
            margin-bottom: 3%;
         }
         h2{
            color: #A5FFC9;
            font-size: 5ex;
            font-family: 'Hammersmith One';
            font-weight: bold;
            text-align: center;
        }
        h3{
            color: #EDEDED;
            font-family: 'Hammersmith One';
			font-size: 2.5ex;
            font-weight: bold;
            text-align: center;
            margin-bottom: 7%;
        }

        p{
            color: #121212;
            font-family: 'Roboto';
            text-align: center;
			font-size: 2ex;

        }

    }
    #schemasprints{
		img
		{width: 2%;}
	}
	
    }
	#schema{
		img{
		width: 35%; 
		margin-top: 90%;
		margin-left: 55%;
		}
	}
	
	#Veille{
		opacity: 70%;
		width: 45%;
		color: #A5FFC9;
		height: 800px;
		margin-top: 10%;
		margin-left: 28%;
		background-color: #0085B2;
		border-radius: 15%;
		
		h2{
			font-family: "Hammersmith One";
			font-size: 64px;
			color: #A5FFC9;;
			text-align: center;
			font-size: 4ex;
			margin-top: 6%;
		}
			#oc{
				position: absolute; 
				width: 2.5%; 
				margin-left: 25%;
				margin-top: 0.5%;
			}
			#rss{
				position: absolute; 
				width: 2.5%; 
				margin-left: 29.3%;
				margin-top: 0.5%;
			}
			#yt{
				position: absolute; 
				width: 2.5%; 
				margin-left: 20.3%;
				margin-top: 0.5%;
			}
			#cdg{
				position: absolute; 
				width: 2.5%; 
				margin-left: 17%;
				margin-top: 0.5%;
			}
			#textes{
				margin-top: 6%;
				margin-bottom: 3%;
				
				h3{
					
					font-family: "Hammersmith One";
					color: #A5FFC9;
					text-align: left; 
					margin-left: 3%;
					margin-top: 9%;
					font-size: 2ex;
				}
				p{
					text-align: center;
					color: #121212;
					font-family: 'Roboto';
					margin-top: 2%;
					margin-bottom: 2%;
				}
			}
		
	}
    
	
    #Contact{
		
        margin-left: 15%;
		margin-top: 3%;
		background-color: #0085B2;
		margin-left: 35%;
		margin-top: 10%;
		width: 30%;
		opacity: 70%;
		border-radius: 15%;
       
		h2{
			text-align: center;
			color: #A5FFC9;
			font-family: "Hammersmith One";
		}
        p{
			text-align: center;
			color: #121212;
			font-family: 'Roboto';
			margin-top: 2%;
			margin-bottom: 2%;
		}
		
		a:hover{
			color: #A5FFC9; 
		}
    }
	.btn1 {
		position: absolute;
		font-family: Roboto, sans-serif;
		font-weight: 0;
		font-size: 20px;
		margin-top: 36%;
		left: 40%;
		color: #121212;
		font-weight: bold;
		background-color: #a5ffc9;
		padding: 10px 30px;
		border: solid #00000000 2px;
		-webkit-box-shadow: black 0px 0px 0px 0px;
		box-shadow: black 0px 0px 0px 0px;
		border-radius: 50px;
		-webkit-transition: 700ms;
		transition: 700ms;
		-webkit-transform: translateY(0);
		transform: translateY(0);
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		cursor: pointer;
		&:hover {
			-webkit-transition: 1000ms;
			transition: 1000ms;
			padding: 10px 50px;
			-webkit-transform: translateY(0px);
			transform: translateY(0px);
			background-color: #0085B2;
			color: #EDEDED;
		}
	}
	#plouty{
		color: #EDEDED;
		margin-top: 40%;
		margin-left: 48.5%;
	}
	.btn2 {
		position: absolute;
		font-family: Roboto, sans-serif;
		font-weight: 0;
		font-size: 20px;
		margin-top: 85%;
		left: 65%;
		color: #121212;
		font-weight: bold;
		background-color: #a5ffc9;
		padding: 10px 30px;
		border: solid #00000000 2px;
		-webkit-box-shadow: black 0px 0px 0px 0px;
		box-shadow: black 0px 0px 0px 0px;
		border-radius: 50px;
		-webkit-transition: 700ms;
		transition: 700ms;
		-webkit-transform: translateY(0);
		transform: translateY(0);
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		cursor: pointer;
		&:hover {
			-webkit-transition: 1000ms;
			transition: 1000ms;
			padding: 10px 50px;
			-webkit-transform: translateY(0px);
			transform: translateY(0px);
			background-color: #0085B2;
			color: #EDEDED;
		}

		
	}
	.btn3 {
		position: absolute;
		font-family: Roboto, sans-serif;
		font-weight: 0;
		font-size: 20px;
		margin-top: 5%;
		left: 65%;
		color: #121212;
		font-weight: bold;
		background-color: #a5ffc9;
		padding: 10px 30px;
		border: solid #00000000 2px;
		-webkit-box-shadow: black 0px 0px 0px 0px;
		box-shadow: black 0px 0px 0px 0px;
		border-radius: 50px;
		-webkit-transition: 700ms;
		transition: 700ms;
		-webkit-transform: translateY(0);
		transform: translateY(0);
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		cursor: pointer;
		&:hover {
			-webkit-transition: 1000ms;
			transition: 1000ms;
			padding: 10px 50px;
			-webkit-transform: translateY(0px);
			transform: translateY(0px);
			background-color: #0085B2;
			color: #EDEDED;
		}

		
	}



}